.logo{
    width: 150px;
    height: 60px;
}
.h{
    background-color: rgb(166, 160, 147);
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(166, 160, 147);
    margin-bottom: 100px;
}
#heading--right{
    font-size: 40px;
    font-weight:bold;
}
th {
    background-color: rgb(166, 160, 147);
    border: 1px solid black;
    border-collapse: collapse;
  }
  table,th,td{
    text-align: center;
    border-collapse: collapse;
}
  th,td{
      border: 1px solid #ddd;
      padding: 8px;
  }
  td{
      
      height: 80px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
  }
  
  li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
  }
  span{
    border:1px solid black;
    padding: 8px;
    margin-top: 2px;
  }
  #spanDiv{
    display: flex;
    justify-content: space-evenly;
  }